Añadir comentario:<p>
<form method="post" action="/quizes/<%= quizid %>/comments">
	<textarea cols="50" rows="5" id="comment" name="comment[texto]" placeholder="Introduce tu comentario"></textarea>
	<br/>
	<button type="submit" class="editar">Enviar</button>
</form>